@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

/* Logo Font */
@font-face {
  font-family: 'MarcellusSC-Regular';
  src: url('fonts/MarcellusSC-Regular.ttf');
}

:root {
  --white: #fffbfb;
  --cream: #e9c1af;
  --blue: #1f3e59;
  --dark-blue: #1a3246;
  --green: #478647;
  --dark-green: #337433;
  --red: #d05050;
  --dark-red: #be3e3e;

  --border-radius: 8px;

  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;

  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

html {
  box-sizing: border-box;
  font-family: 'Poppins', system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 340px 1fr;
  min-height: 100vh;
}

/* Main Section */
main {
  background-color: var(--white);
  grid-column: 2 / -1;
  grid-row: 1 / -1;
}

/* Sidebar Section */
.sidebar {
  background-color: var(--cream);
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--spacing-lg);
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
  row-gap: var(--spacing-xl);
}

/* Sidebar Header Section */
.sidebar header h1 {
  font-family: 'MarcellusSC-Regular';
  font-size: 72px;
  color: var(--blue);
}

/* Sidebar Form Section */
.sidebar form {
  flex: 1;
}

/* Sidebar Footer Section */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  color: var(--blue);
  font-weight: 500;
}

.fa-github {
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
  color: var(--blue);
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}