@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

/* Logo Font */
@font-face {
  font-family: 'MarcellusSC-Regular';
  src: url('fonts/MarcellusSC-Regular.ttf');
}

:root {
  --white: #fffbfb;
  --cream: #e9c1af;
  --blue: #1f3e59;
  --dark-blue: #1a3246;
  --green: #478647;
  --dark-green: #337433;
  --red: #d05050;
  --dark-red: #be3e3e;

  --border-radius: 2px;

  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 40px;

  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

html {
  box-sizing: border-box;
  font-family: 'Poppins', system-ui, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

input,
input:focus button,
button:focus {
  appearance: none;
  outline: none;
}

body {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 340px 1fr;
  min-height: 100vh;
}

/* Main Section */
main {
  background-color: var(--white);
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xl);
  align-items: center;
  padding-top: var(--spacing-xl);
  color: var(--blue);
}

/* Main Summary Section */
main .summary {
  display: flex;
  gap: var(--spacing-lg);
  font-size: 1rem;
  font-weight: 600;
}

main .summary .summary-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed var(--blue);
  border-radius: var(--border-radius);
  padding: 0 var(--spacing-sm);
}

main .summary button {
  padding: 0 var(--spacing-md);
  border: 1px solid var(--red);
  border-radius: var(--border-radius);
  background-color: var(--red);
  color: var(--white);
  font-size: 1.2rem;
  transition: 0.3s;
}

main .summary button:hover {
  cursor: pointer;
  border-color: var(--dark-red);
  background-color: var(--dark-red);
  transition: 0.3s;
}

/* Main Books List Section */
main .books-list {
  border-collapse: collapse;
  width: 75%;
  text-align: center;
}

main .books-list thead tr {
  background-color: var(--blue);
  color: var(--white);
}

main .books-list thead th,
main .books-list tbody td {
  word-wrap: break-word;
  max-width: 200px;
}

main .books-list thead th:first-of-type,
main .books-list tbody td:first-of-type {
  min-width: 200px;
}

main .books-list thead th:nth-child(3),
main .books-list tbody td:nth-child(3) {
  min-width: 100px;
}

main .books-list thead th {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: var(--spacing-xs);
}

main .books-list tbody tr {
  border-bottom: 1.5px dashed var(--blue);
}

main .books-list tbody td {
  padding: var(--spacing-sm);
  font-size: 1rem;
  height: 72px;
}

main .books-list tbody tr td:last-of-type i {
  color: var(--red);
  font-size: 1.4rem;
  transition: all 0.3s;
}
main .books-list tbody tr td:last-of-type i:hover {
  cursor: pointer;
  color: var(--dark-red);
}

main .books-list tbody tr td:nth-child(4) i {
  font-size: 1.8rem;
}
main .books-list tbody tr td:nth-child(4) i:hover {
  cursor: pointer;
}

tbody tr td:nth-child(4) i.book-read {
  color: var(--green);
  transition: all 0.3s;
}
tbody tr td:nth-child(4) i.book-read:hover {
  color: var(--dark-green);
}

tbody tr td:nth-child(4) i.book-not-read {
  color: var(--red);
  transition: all 0.3s;
}
tbody tr td:nth-child(4) i.book-not-read:hover {
  color: var(--dark-red);
}

/* Sidebar Section */
.sidebar {
  background-color: var(--cream);
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--spacing-lg);
  padding-left: var(--spacing-md);
  padding-right: var(--spacing-md);
  row-gap: var(--spacing-xl);
}

/* Sidebar Header Section */
.sidebar header h1 {
  font-family: 'MarcellusSC-Regular';
  font-size: 72px;
  color: var(--blue);
}

/* Sidebar Form Section */
.sidebar form {
  flex: 1;
  width: 100%;
}

.sidebar form fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-lg);
}

.sidebar form input[type='text'],
.sidebar form input[type='number'] {
  width: 100%;
  padding: var(--spacing-md) 0 var(--spacing-xs) 0;
  font-size: 1.2rem;
  color: var(--blue);
  background-color: transparent;
  border: 0;
  border-bottom: 1.5px dashed var(--blue);
  transition: all 0.3s;
}

form fieldset input[type='text']:focus,
form fieldset input[type='number']:focus {
  border-bottom-color: var(--white);
  position: relative;
}

form fieldset div {
  position: relative;
}

form fieldset .placeholder {
  position: absolute;
  color: var(--blue);
  opacity: 0.9;
  top: 10px;
  left: 0px;
  width: 100%;
  transition: all 0.3s;
  transform-origin: 0% 0%;
  pointer-events: none;
}

.sidebar form input:valid + .placeholder,
.sidebar form input:focus + .placeholder,
.sidebar form input[type='number']:out-of-range + .placeholder {
  transform: scale(0.8) translateY(-24px);
}

.sidebar form div > label:not([for='read']),
.sidebar form legend {
  position: absolute;
  left: -10000px;
  top: -10000px;
  overflow: hidden;
  width: 0;
  height: 0;
}

input[type='checkbox'] {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid var(--blue);
  vertical-align: -2px;
  color: var(--white);
}

input[type='checkbox']::before {
  content: '✔';
  position: absolute;
  font-size: 16px;
  right: -0.1px;
  top: -0.1em;
  visibility: hidden;
}

input[type='checkbox']:checked {
  background-color: var(--blue);
}

input[type='checkbox']:checked::before {
  visibility: visible;
}

form fieldset input[type='checkbox'] + label {
  color: var(--blue);
  width: calc(100% - 24px);
  display: inline-block;
}

form fieldset button[type='submit'] {
  padding: var(--spacing-lg) 0;
  border: 1px solid var(--blue);
  border-radius: 2px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.2rem;
  transition: 0.3s;
}

form fieldset button[type='submit']:hover {
  cursor: pointer;
  border-color: var(--dark-blue);
  background-color: var(--dark-blue);
  transition: 0.3s;
}

/* Sidebar Form Validation Section */
form fieldset span.validation-error {
  visibility: hidden;
  font-size: .9rem;
  color: var(--red);
}

/* Sidebar Footer Section */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  color: var(--blue);
  font-weight: 500;
}

.fa-github {
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
  color: var(--blue);
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
